.idea
*.swp
*.DS_STORE
node_modules
config.ini
cloud_sql_proxy
python_scripts/cloud_sql_proxy
sport-site*.json
app.yaml
/data
sport-site/
*.pyc
data
*.wt
*.turtle
WiredTiger*
*.lock
*.pickle
ff/
placeholder
mongoconf.yaml
../teamnames.txt
fantasy-football/nfldb_stats
fantasy-football/lib/*
fantasy-football/bin/*
fantasy-football/include
fantasy-football/.Python
